:root {
	--h1Size: 50px;
	--h2Size: 38px;
	--h3Size: 30px;
	--h4Size: 25px;
	--h5Size: 20px;
	--h6Size: 16px;
	--pSize: 18px;
	--spanSize: 16px;

	--thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 800;

	--f1: #FFF;
    --f2: #000;
    --f3: #f15e22; /*cor laranja seara*/
    --f4: #f2f2f2; /*cor cinza 10%*/
    --f5: #e30613; /*cor vermelho seara*/
    --f6: #ffed00; /*cor amarelo seara*/

	--pal00: #000001;
	--pal01: #000099;
	--pal02: #00B189;
	--pal03: #0B8E37;
	--pal04: #1F8A70;
	--pal05: #1E3D5A;
	--pal06: #26547C;
	--pal07: #29ABE2;
	--pal08: #31AF91;
	--pal09: #33383B;
	--pal10: #39B54A;
	--pal11: #3D6BF5;
	--pal12: #3FA9F5;
	--pal13: #4D4D4D;
	--pal14: #666666;
	--pal15: #66B2B2;
	--pal16: #79242F;
	--pal17: #7B9BA6;
	--pal18: #8E9AAF;
	--pal19: #808080;
	--pal20: #999999;
	--pal21: #A2A9AD;
	--pal22: #AFAFAF;
	--pal23: #B5B5B6;
	--pal24: #B96346;
	--pal25: #BDF1FF;
	--pal26: #C0F1F6;
	--pal27: #C26158;
	--pal28: #CE4C4C;
	--pal29: #CE8D4C;
	--pal30: #D2FFD6;
	--pal31: #D3D3D3;
	--pal32: #D9D1C7;
	--pal33: #E6E6E6;
	--pal34: #EEE2DF;
	--pal35: #F2CD00;
	--pal36: #F2F2F2;
	--pal37: #F5333F;
	--pal38: #FF0000;
	--pal39: #FFBDBD;
	--pal40: #FFCB05;
	--pal41: #FFEBAB;
	--pal42: #FFFFFF;
}

body {
	font-size: 10px;
	scroll-behavior:smooth;
}

html {
	scroll-behavior:smooth;
	font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

body,html {
	margin:0;
	padding:0
}

div,span,object,input,select,option,iframe,h1,h2,h3,h4,h5,h6,p,img,blockquote,pre,a,abbr,address,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,figure,figcaption,footer,header,nav,section,audio,video {
	margin:0;
	padding:0;
	position:relative;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border:none
}

picture {
	width:100%;
	height:100%
}

#main {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	scroll-behavior: smooth;
}

.block {
	display:block
}

.flex {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex
}

.grid {
	display:-ms-grid;
	display:grid
}

img.contain {
	object-fit:contain;
	-o-object-fit:contain;
}

img.cover {
	object-fit:cover;
	-o-object-fit:cover;
}

nav ol,nav ul {
	list-style:none;
	padding:0
}

table {
	border-collapse:collapse
}

textarea {
	resize:vertical;
	font-family: 'Montserrat', sans-serif;
}

button {
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	transition: 0.3s ease all;
	font-size: 12px;
	font-weight: var(--medium);
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}

button,input,select,textarea {
	background-color:transparent;
	border: none;
	outline: none;
	color:inherit;
	padding: 0px;
	margin: 0;
}


a {
	text-decoration:none;
	display:block;
	cursor:pointer;
	pointer-events:all;
	font-weight: var(--regular);
	font-size: var(--spanSize);
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,input,select,span,li,p {
	display:block;
	position: relative;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	-webkit-text-decoration-skip:ink;
	text-decoration-skip-ink:auto;
	-webkit-font-feature-settings:liga 1;
	font-feature-settings:liga 1;
	-webkit-font-feature-settings:liga on;
	font-feature-settings:liga on;	
}

h1 {
	font-size:var(--h1Size);
	font-weight: var(--semi-bold);
	line-height:1.2;
}

h2 {
	font-size:var(--h2Size);
	font-weight: var(--semi-bold);
	line-height:1.2
}

h3,
.tabs1 span {
	font-size:var(--h3Size);
	font-weight: var(--medium);
	line-height:1.2
}

h4 {
	font-size:var(--h4Size);
	font-weight: var(--semi-bold);
}

h5 {
	font-size:var(--h5Size);
	font-weight: var(--medium);
}

h6 {
	font-size:var(--h6Size);
	font-family: 'Montserrat', sans-serif;
	font-weight:var(--semi-bold);
	line-height:1.2
}

input, select {
	font-size:var(--h5Size);
	font-family: 'Montserrat', sans-serif;
	border: none;
	outline: none;
}

p {
	font-size:var(--pSize);
	font-family: 'Montserrat', sans-serif;
	line-height:1.4
}

span, li {
	font-size:var(--spanSize);
	font-weight: var(--regular);
	font-family: 'Montserrat', sans-serif;
	line-height:1.2
}

svg {
	display:block;
	pointer-events:none;
	position:relative;
}

a:link {
}

a:visited {
}

a:active {
}

::-webkit-input-placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

::-moz-placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

:-ms-input-placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

::-ms-input-placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

::placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

:-ms-input-placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

::-ms-input-placeholder {
	color:var(--f2);
	font-weight:var(--medium);
	font-family: 'Montserrat', sans-serif;
	font-size:var(--h5);
}

code,kbd,pre,samp {
	font-family:Menlo,Consolas,Roboto Mono,Ubuntu Monospace,Noto Mono,Oxygen Mono,Liberation Mono,monospace
}

::-moz-selection {
	background:var(--f3);
	color:#fff;
}

::selection {
	background:var(--f3);
	color:#fff;
}

::-moz-selection {
	background:var(--f3);
	color:#fff;
}

select {
	-moz-appearance:none;
	-webkit-appearance:none;
	background:no-repeat right center / 1em;
	border-radius:0;
	padding-right:1em
}

select:not([multiple]):not([size]) {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E")
}

::-ms-expand {
	display:none
}

a,area,button,input,label,select,summary,textarea,[tabindex] {
	-ms-touch-action:manipulation;
	touch-action:manipulation
}


.shadow-4 {
    box-shadow:
    	0 1px 1px rgba(0,0,0,0.15),
	    0 2px 2px rgba(0,0,0,0.15),
	    0 4px 4px rgba(0,0,0,0.15),
	    0 8px 8px rgba(0,0,0,0.15);
}

.shadow-6 {
    box-shadow:
    	0 1px 1px rgba(0,0,0,0.11),
    	0 2px 2px rgba(0,0,0,0.11),
    	0 4px 4px rgba(0,0,0,0.11),
    	0 8px 8px rgba(0,0,0,0.11),
    	0 16px 16px rgba(0,0,0,0.11),
    	0 32px 32px rgba(0,0,0,0.11);
}

.shadow-6Top {
    box-shadow:
    	0 -1px 1px rgba(0,0,0,0.11),
    	0 -2px 2px rgba(0,0,0,0.11),
    	0 -4px 4px rgba(0,0,0,0.11),
    	0 -8px 8px rgba(0,0,0,0.11),
    	0 -16px 16px rgba(0,0,0,0.11),
    	0 -32px 32px rgba(0,0,0,0.11);
}

.shadow-5 {
    box-shadow:
    	0 0px 1px rgba(0,0,0,0.11),
    	0 0px 2px rgba(0,0,0,0.11),
    	0 0px 4px rgba(0,0,0,0.11),
    	0 0px 8px rgba(0,0,0,0.11),
    	0 0px 16px rgba(0,0,0,0.11),
    	0 0px 32px rgba(0,0,0,0.11);
}

.shadow-shorter {
    box-shadow:
    	0 1px 1px rgba(0,0,0,.11),
    	0 2px 2px rgba(0,0,0,.11),
    	0 4px 4px rgba(0,0,0,.11),
    	0 6px 8px rgba(0,0,0,.11),
    	0 8px 16px rgba(0,0,0,.11);
}


.shadow-shorter-top {
    box-shadow:
    	0 -1px 1px rgba(0,0,0,.11),
    	0 -2px 2px rgba(0,0,0,.11),
    	0 -4px 4px rgba(0,0,0,.11),
    	0 -6px 8px rgba(0,0,0,.11),
    	0 -8px 16px rgba(0,0,0,.11);
}

.shadow-1 {
    box-shadow:
    	0 0px 1px rgba(0,0,0,0.05),
	    0 0px 2px rgba(0,0,0,0.05),
	    0 0px 4px rgba(0,0,0,0.05),
	    0 0px 8px rgba(0,0,0,0.05);
}

form.hide-submit input[type="submit"] {
	display: none;
}

.hide-submit label {
	cursor: pointer;
}


















/* essa div-select é o elemento que define a personalização do icone do elemento select */
.div-select {
	display: block;
    width:100%;
    overflow:hidden;
}
  
.div-select select {
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    color: var(--f2);
    border-radius: 6px;
    border: 2px solid rgba(255,255,255,.5);
    transition: .3s ease all;
    margin: 10px 0;
	background-image: none;
	background-color: transparent;
	background-size: 0px 0px;
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	padding:13px 20px 13px 12px;
	color:#fff;
	text-indent: 0.01px;
	text-overflow: "";
}

.div-select::after {
	position: absolute;
	content: "";
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' fill='%23fff' width='30' height='30'%3e%3cpath d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'/%3e%3c/svg%3e") no-repeat;
	background-position: 95% center;
    background-size: 25px auto;
    width: 100%;
    height: 100%;
	box-sizing: border-box;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	pointer-events: none;
}


.div-select select:focus {
	border-color: var(--f3);
}


select::-ms-expand {
    display: none;
}

select option:hover {
	background-color: var(--f3);
}



option {
	color: var(--f2);
	background-color: var(--f3);
	padding:5px;
	margin: 10px;
}

option:hover {
	color: var(--f3)
}

option {
	border:1px solid var(--f3)
}





select::-webkit-scrollbar {
  width: 1em;
}
 
select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
select::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.selectItem {
	margin: 7px 0;
	padding: 7px 0;
	display: block;
	position: relative;
	box-sizing: border-box;
}