@media (min-width: 1500px) and (max-width: 1800px) {
h2{font-size:26px}
h3{font-size:16px}
h4{font-size:16px}
h5{font-size:16px}
p{font-size:16px}
span{font-size:14px}
a{font-size:14px}
.section1SlidesText a{font-size:var(--h4Size)}
}
@media (min-width: 1200px) and (max-width: 1499px) {
h2{font-size:18px}
h3{font-size:18px}
h4{font-size:14px}
h5{font-size:12px}
p{font-size:14px}
span{font-size:14px}
a{font-size:14px}
.section1SlidesText a{font-size:var(--h4Size)}
.headerLogo{max-width:130px}
.headerBG{max-height:100px;width:100%}
.headerMenu a{margin:0 5px;font-size:14px}
.headerTitle{font-size:20px}
.searchWrapper{margin-right:40px}
.section1SlidesImgWrapper{min-height:340px}
.socialMediaContentWrapper,.socialMediaColumn{grid-gap:30px}
.socialMediaContainer{padding:20px 5vw 90px}
.searaNaMidiaContainer{padding:90px 5vw}
}
@media (min-width: 992px) and (max-width: 1199px) {
h1{font-size:45px}
h2{font-size:25px}
h3{font-size:18px}
h4{font-size:16px}
h5,p{font-size:12px}
span,a{font-size:14px}
input{font-size:14px}
.headerMenu{display:none}
.headerHamburguerMenu{display:block}
.headerLogo{max-width:100px}
.section1SlidesText a{font-size:var(--h5Size)}
.section1SlidesImgWrapper{min-height:340px}
.socialMediaContentWrapper,.socialMediaColumn{grid-gap:30px}
.socialMediaContainer{padding:20px 5vw 90px}
.searaNaMidiaContainer{padding:90px 5vw}
}
@media (min-width: 768px) and (max-width: 991px) {
h1{font-size:38px}
h2{font-size:28px}
h3{font-size:22px}
h4{font-size:13px}
h5,p{font-size:16px}
span,a{font-size:16px}
input{font-size:16px}
.headerBG{max-height:130px}
.headerTitle{font-size:20px}
.alignHeaderItems{bottom:5px}
.headerLogo{max-width:100px}
.headerMenu{display:none}
.headerHamburguerMenu{display:block}
.section1SlidesText a{font-size:20px}
.section1Wrapper{-ms-grid-columns:1fr;grid-template-columns:1fr}
.section1SlidesTextWrapper{grid-column:1 / -1;-ms-grid-row:1;grid-row:1}
.section1SlidesImgWrapper{grid-column:1 / -1;-ms-grid-row:2;grid-row:2}
.section1SlidesWrapper{-ms-grid-rows:auto auto auto;grid-template-rows:auto auto auto;padding:0 30px}
.section1SlidesImgLegenda{grid-column:1 / -1;-ms-grid-row:3;grid-row:3;width:100%}
.section1SlidesText{padding:10px 10px 0}
.section1SlidesFooter{padding:10px}
.section2Container{-ms-grid-columns:1fr;grid-template-columns:1fr;padding:30px 10vw}
.ultimasNoticiasUnitTexts{padding:10px 10px 0}
.ultimasNoticiasUnitWrapper .section1SlidesFooter{margin:0}
.socialMediaHeader{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.socialMediaHeaderIcons{margin-right:0;padding:20px 0}
.midiasSociaisSearaWrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.searaNaMidiaContainer{padding:90px 5vw}
}
@media (min-width: 576px) and (max-width: 767px) {
h1{font-size:30px}
h2{font-size:22px}
h3{font-size:18px}
h4{font-size:18px}
h5,p{font-size:14px}
span,a{font-size:12px}
input{font-size:16px}
.headerMenu{display:none}
.headerHamburguerMenu{display:block;-ms-grid-column:1;-ms-grid-column-span:1;grid-column:1 / 2;-ms-grid-row:3;grid-row:3;bottom:0;-ms-grid-row-align:end;align-self:end;-ms-grid-column-align:end;justify-self:end}
.headerHamburguerMenu svg,.searchWrapper svg{fill:var(--f3)}
.searchWrapper{grid-column:2 / -1;-ms-grid-row:3;grid-row:3;-ms-grid-row-align:end;align-self:end;-ms-grid-column-align:end;justify-self:end;bottom:0;margin:0 30px 0 10px}
.headerBG{display:none}
.headerLogo{width:100px;margin:30px 0 0;grid-column:1 / -1;-ms-grid-row:1;grid-row:1;-ms-grid-row-align:center;align-self:center;-ms-grid-column-align:center;justify-self:center}
.header{-ms-grid-columns:1fr auto;grid-template-columns:1fr auto;width:100vw}
.headerTitle{-ms-grid-row:2;grid-row:2;margin-top:10px;color:var(--f2)}
.section1SlidesText a{font-size:20px}
.section1Wrapper{-ms-grid-columns:1fr;grid-template-columns:1fr}
.section1SlidesTextWrapper{grid-column:1 / -1;-ms-grid-row:1;grid-row:1}
.section1SlidesImgWrapper{grid-column:1 / -1;-ms-grid-row:2;grid-row:2}
.section1SlidesWrapper{-ms-grid-rows:auto auto auto;grid-template-rows:auto auto auto;padding:0 30px}
.section1SlidesImgLegenda{grid-column:1 / -1;-ms-grid-row:3;grid-row:3;width:100%}
.section1SlidesText{padding:10px 10px 0}
.section1SlidesFooter{padding:10px}
.section2Container{-ms-grid-columns:1fr;grid-template-columns:1fr;padding:30px 10vw}
.ultimasNoticiasUnitTexts{padding:10px 10px 0}
.ultimasNoticiasUnitWrapper .section1SlidesFooter{margin:0}
.searaNaMidiaContainer{-ms-grid-columns:1fr;grid-template-columns:1fr;padding:30px 10vw}
.socialMediaHeader{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.socialMediaHeaderIcons{margin-right:0;padding:20px 0}
.midiasSociaisSearaWrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.footer{-ms-grid-columns:1fr;grid-template-columns:1fr}
.footerLinks{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.footerLinks a{margin:10px 0}
}
@media (min-width: 320px) and (max-width: 575px) {
h1{font-size:30px}
h2{font-size:22px}
h3{font-size:18px}
h4{font-size:18px}
h5,p{font-size:14px}
span,a{font-size:12px}
input{font-size:16px}
.headerMenu{display:none}
.headerHamburguerMenu{display:block;-ms-grid-column:1;-ms-grid-column-span:1;grid-column:1 / 2;-ms-grid-row:3;grid-row:3;bottom:0;-ms-grid-row-align:end;align-self:end;-ms-grid-column-align:end;justify-self:end}
.headerHamburguerMenu svg,.searchWrapper svg{fill:var(--f3)}
.searchWrapper{grid-column:2 / -1;-ms-grid-row:3;grid-row:3;-ms-grid-row-align:end;align-self:end;-ms-grid-column-align:end;justify-self:end;bottom:0;margin:0 30px 0 10px}
.headerBG{display:none}
.headerLogo{width:100px;margin:30px 0 0;grid-column:1 / -1;-ms-grid-row:1;grid-row:1;-ms-grid-row-align:center;align-self:center;-ms-grid-column-align:center;justify-self:center}
.header{-ms-grid-columns:1fr auto;grid-template-columns:1fr auto;width:100vw}
.headerTitle{-ms-grid-row:2;grid-row:2;margin-top:10px;color:var(--f2)}
.section1SlidesText a{font-size:20px}
.section1Wrapper{-ms-grid-columns:1fr;grid-template-columns:1fr}
.section1SlidesTextWrapper{grid-column:1 / -1;-ms-grid-row:1;grid-row:1}
.section1SlidesImgWrapper{grid-column:1 / -1;-ms-grid-row:2;grid-row:2}
.section1SlidesWrapper{-ms-grid-rows:auto auto auto;grid-template-rows:auto auto auto;padding:0 30px}
.section1SlidesImgLegenda{grid-column:1 / -1;-ms-grid-row:3;grid-row:3;width:100%}
.section1SlidesText{padding:10px 10px 0}
.section1SlidesFooter{padding:10px}
.section2Container{-ms-grid-columns:1fr;grid-template-columns:1fr;padding:30px 10vw}
.ultimasNoticiasUnitTexts{padding:10px 10px 0}
.ultimasNoticiasUnitWrapper .section1SlidesFooter{margin:0}
.searaNaMidiaContainer{-ms-grid-columns:1fr;grid-template-columns:1fr;padding:30px 10vw}
.socialMediaHeader{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.socialMediaHeaderIcons{margin-right:0;padding:20px 0}
.midiasSociaisSearaWrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column}
.footer{-ms-grid-columns:1fr;grid-template-columns:1fr}
.footerLinks{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;grid-column:1 / -1;-ms-grid-row:1;grid-row:1}
.footerLinks a{margin:10px 0;text-align:center}
.footerSocial{-ms-grid-row:2;grid-row:2;grid-column:1 / -1;-ms-grid-column-align:center;justify-self:center}
.footer span{-ms-grid-row:3;grid-row:3}
.postHeaderImgTitleWrapper h1{font-size:24px}
.sectionPostWrapper{padding:30px 0 60px}
.postTextWrapper{padding:0 20px 90px}
.postTextWrapper p{font-size:18px}
}